body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: #202020;
}
h1 {
  font-family: "Funnel Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: bolder;
  font-style: normal;
}

.heading {
  width: 350px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 150px;
  position: relative;
  max-width: 800px;
  padding: 10px;
  text-align: center;
  color: #1b1b1b;
  border-radius: 350px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
  background: linear-gradient(270deg, #99ffbe, #bafff0, #ffb3e6, #b3baff, #ffe699, #99ffbe);
  background-size: 1200% 1200%;
  animation: animated-gradient 20s ease-in-out infinite alternate;
}
html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}
@keyframes animated-gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


button {
  --primary-color: #645bff;
  --secondary-color: #fff;
  --hover-color: #111;
  --arrow-width: 10px;
  --arrow-stroke: 2px;
  box-sizing: border-box;
  border: 0;
  border-radius: 20px;
  color: var(--secondary-color);
  padding: 1em 1.8em;
  background: var(--primary-color);
  display: flex;
  transition: 0.2s background;
  align-items: center;
  gap: 0.6em;
  font-weight: bold;
  font-family: "Nata Sans", sans-serif;
  font-size: 16px;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  position: fixed;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}

button .arrow-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

button .arrow {
  margin-top: 1px;
  width: var(--arrow-width);
  background: var(--primary-color);
  height: var(--arrow-stroke);
  position: relative;
  transition: 0.2s;
}

button .arrow::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  border: solid var(--secondary-color);
  border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
  display: inline-block;
  top: -3px;
  right: 3px;
  transition: 0.2s;
  padding: 3px;
  transform: rotate(-45deg);
}

button:hover {
  background-color: var(--hover-color);
}

button:hover .arrow {
  background: var(--secondary-color);
}

button:hover .arrow:before {
  right: 0;
}